Source: xiterm+thai
Section: x11
Priority: optional
Maintainer: Debian QA Group <packages@qa.debian.org>
Standards-Version: 3.6.2
Build-Depends: libx11-dev, libxpm-dev, libxt-dev, x-dev, debhelper

Package: xiterm+thai
Architecture: any
Depends: ${shlibs:Depends}
Recommends: xfonts-thai-nectec, xfonts-thai
Conflicts: xiterm
Suggests: menu, nonlock
Description: x-terminal program with Thai languague support
 xiterm+thai is an x-terminal-emulator program with Thai language
 support. It has built-in Thai keyboard input support. You could
 also use X11 XKB extension to input Thai character.
 .
 Thai font is needed to display Thai character.
